# SPDX-License-Identifier: GPL-2.0
config WL
	tristate "STA64 driver"
	depends on CFG80211
	---help---
	  This driver can be built as a module (recommended) that will be called "wl".
	  If unsure, say M.
